body{
    background-color: #344E41;
    color: white;
    font-family: "Ubuntu Sans Mono", monospace;
}
header{
    display: flex;
    background-color: #3A5A40;
    height: 99px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.5em;
}
.arrow{
    top: -10px;
    left: 50%;
    position: absolute;
    text-align: center;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #DAD7CD;
}
.HomeIcon{
    font-size: xx-large;
    margin: 0.5rem;
}
.HomeIcon:hover{
    cursor: pointer;
}
.title{
    font-size: xxx-large;
    font-weight: 500;
}
.PageLinks{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    font-weight: 50;
    font-size: x-large;
}
.hamburger{
    display: none;
}
.hamburger:hover{
    cursor: pointer;
}
.menu{
    display: none;
    height: 0rem;
    background-color: #3A5A40;
    border: solid grey 1px;
    padding: 1em;
    overflow: hidden;
    position: relative;
}
.MenuLinks{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: xx-large;
    justify-content: space-between;
    height: 90%;

}
.link{
    font-weight: 100;
}
button{
    background-color: #8AA8B1;
    height: 95%;
    border-radius: 12px;
    color: #353535;
    border: none;
    font-size: medium;
    font-weight: bold;
    padding: 10px;
}
main{
    background-color: #A3B18A;
    margin: 3em;
    border-radius: 12px;
}
.intro{
    display: flex;
    flex-direction: row;
    height: 50%;
}
.MainImage{
    justify-content: center;
    align-items: center;
    width: 40%;
    height: auto;
    margin: 2rem;
    margin-top: 5rem;
    /* box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2); */
}
.message{
    display: flex;
    width: 60%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    /* border: solid grey; */
    font-weight: 500;
    box-shadow: 5px black;
}
.large{
    display: flex;
    font-size: xxx-large;
    justify-self: center;
    text-align: center;
    margin: 1rem;
    color: #344E41;
}
.small{
    display: flex;
    font-size: x-large;
    justify-self: center;
    text-align: center;
    margin: 2rem;
    color: #737373;
}
.cover{
    width: 100%;
    height: auto;
}
.learn{
    display: flex;
    justify-content: center;
    color: #3A5A40;
}
.learn:hover{
    cursor: pointer;
}
.CTA{
    text-align: center; 
    margin: 1em;
    display: none;
}
.examples{
    /* border: solid black; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3rem;
    /* height: 17rem; */
    overflow: none;
    /* height: 32rem; */
}
.GameOne, .GameTwo, .GameThree{
    /* border: solid yellow; */
    display: flex;
    flex-direction: column;
    width: 30%;
    align-items: center;
    overflow: hidden;
    border-radius: 24px;
    text-align: center;
    background-color: rgb(112, 111, 111);
    padding: 20px 5px;
    justify-content: space-between;
    height: 14rem;
}
.GameOne:hover{
    animation: ease-in .5s description forwards
}
.GameTwo:hover{
    animation: ease-in .5s description forwards
}
.GameThree:hover{
    animation: ease-in .5s description forwards
}


@keyframes description{
    0%{
        height: 14rem;
    }
    100%{
        height: 32rem;
    }
}
.GamePic{
    height: 160px;
    color: white;
    border-radius: 24px;
    width: 120px;
    margin-bottom: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.GamePic:hover{
    cursor: pointer;
}

.application{
    font-weight: 800;
    text-decoration: underline;
}
footer{
    display: flex;
    background-color: #588157;
    height: 105px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.5em;
}
@media (max-width: 1020px){
    .hamburger{
        display: block;
        font-size: xx-large;
    }
    .PageLinks{
        display: none;
    }
    .hamburger:focus + .menu{
        animation: ease-in .5s open_menu forwards;
    }
    .menu:hover{
        animation: ease-in .5s open_menu forwards;
    }
    .menu{
        display: block;
    }
    @keyframes open_menu{
        0%{
            height: 0;
        }
        100%{
            height: 20rem;
        }
        
    }
}
@media (max-width: 800px){
    .GameOne, .GameTwo, .GameThree{
        width: 80%;
        margin-bottom: 25px;
    }
    .intro{
        flex-direction: column;
        align-items: center;
    }
    .message{
        width: 80%;
    }
    .MainImage{
        margin: 1rem;
    }
    .examples{
        flex-direction: column;
        align-items: center;
    }
    footer{
        flex-direction: column;
        height: 100%;
    }
    .address{
        text-align: center;
    }
}